@charset "utf-8";
.form-booking {
    width: 90%;
    margin: 0 auto;
    li {
        display: block;
    }
    input {
        width: 90%;
        font-size: 21px;
        text-align: center;
    }
    label {
        margin: 5px 0;
    }
    div.quantity-nav {
        display: block !important;
        float: left;
        position: relative;
        height: 42px;
    }
    .wrap-quantity-num {
        position: relative;
        margin-bottom: 10px;
        .poiter-events {
            pointer-events: none;
        }
    }
    .extra {
        margin: 10px 0;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        li {
            padding: 0 20px 0 0px;
            input {
                width: 100%;
                text-align: left;
            }
        }
    }
    .has-extra {
        .extra.extra-kids {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    .quantity-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #000;
        font-size: 30px;
        width: 40px;
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    .quantity-up-left {
        left: 0;
    }
    .quantity-down-right {
        right: 0;
    }
    .single_add_to_cart_button {
        background-color: #83b735;
        color: #fff;
        margin: 0 auto;
        display: inherit;
        padding: 15px 50px;
    }
}

#order_total {
    #data {
        tr {
            display: flex;
            flex-direction: column;
        }
    }
}

.test {
    td,
    th {
        border: 1px solid #000;
    }
}