.attachment
{
	.entry-attachment
	{
		text-align: center;
		padding: 30px 0;
	}

	.entry-meta
	{
		text-align: center;
		color: #b3b3b3;
	}

	.entry-title
	{
		text-align: center;

		.date-meta,
		.image-meta,
		.categories-meta,
		.author
		{
			padding-left: 5px;

			&:before
			{
				left: -5px;
			}
		}
	}

	.image-attachment-meta-wrapper
	{
		display: block;
		padding: 0;
		margin-top: 40px;
		position: relative;
		text-align: center;

		.entry-meta
		{
			display: inline-block;
			padding: 0 30px;
			max-width: 60%;
			margin: 0 auto;
		}

		.image-pagination
		{
			position: relative;

			@media all and (max-width: 959px) {
				margin-top: 20px;
			}

			.previous-image,
			.next-image
			{
				position: absolute;
				top: -19px;

				@media all and (max-width: 959px) {
					top: 0;
				}
			}

			.previous-image
			{
	    		left: 0;
			}

			.next-image
			{
				right: 0;
			}
		}
	}
}
